.header-container {
  width: 100%;
  padding: 30px 60px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 30px;
  }

  li {
    list-style-type: none;
    color: #fff;
    text-decoration: underline;
  }

  a.selected-tab {
    color: #00e88f;
  }
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    ul:first-child {
      flex-direction: column;
      align-items: center;
    }
  }
}