.skill-tag-container {
  padding: 20px;
  border: 1px solid #00e88f;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #00e88f;

  img {
    width: 100%;
    height: 100%;
  }
}
